body{
	margin: 0px;
	background-color: #f1f1f1;
}

a{
	color: #00f;
	text-decoration: none;
	margin: 5px;
}

.navigation{
	text-align: center;
	width: 100%;
	background-color: #fff;
	padding: 5px 0px;
	margin: 10px 0px;	
}

.btn{
	background-color: #00f;
	color: #fff;
	border: none;
	margin: 5px;
	padding: 5px;
}

.txt{
	width: 100%;
}

h1{
	color: #00f;
}

.error{
	text-align: center;
	color: #f00;
}

.active{
	font-weight: bold;
	color: #000;
}